.c-hero-intro {
  text-align: center;
  margin: 0 auto;
  ￼display: flex;
  ￼flex-direction: column;
  //   position: relative;
  //   top: -$header-height;
  padding: $hero-padding 0 0 0;

  &__icon {
    display: flex;
    margin: auto;
    width: 100px;
    height: 120px;
    background-image: url("./assets/img/responsive.png");
    background-size: contain;
  }

  h1 {
    margin: 0.3em;
  }
  p {
    color: $primary-dark;
    font-weight: 600;
    padding: 3rem 0;
    font-size: $body-lg;
  }
}
