.c-lonely-link {
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  color: $primary-light;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;

  &::before {
    content: "";
    border-bottom: 0.3em solid $secondary-dark;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
  }

  &:hover {
    color: $primary-dark;
  }
}

.c-target-link {
  color: $primary-light;
  text-decoration: underline;
  font-weight: bold;

  &:hover {
    color: $primary-dark;
  }
}
