.c-title {
  color: $primary-dark;
  text-transform: uppercase;
  &--xxl {
    font-size: $title-xxl;
  }

  &--xl {
    font-size: $title-xl;
  }
  &--lg {
    font-size: $title-lg;
  }

  &--md {
    font-size: $title-md;
  }

  &--sm {
    font-size: $title-sm;
  }

  &--light {
    color: $primary-light;
  }

  &--crossed {
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      border-bottom: 0.12em solid $secondary-dark;
      width: 100%;
      position: absolute;
      right: 0;
      top: 60%;
      z-index: -1;
    }
  }

  &--deco-left {
    border-left: 2px solid $primary-light;
    line-height: 0.7;
    padding-left: 0.5em;
  }

  &--multi {
    display: inline-block;
    margin-top: 0.3em;
  }
}
