/**
Colores del tema

Trabajamos con nombres genéricos para poder cam,biarlos por tema si algún día queremos
*/

$primary-light: #f05351; //red
$primary-dark: #174665; //blue

$secondary-light: #738d9e; // grey
$secondary-dark: #ffd25c; // yellow

$white: #fff;
$light-grey: #e4e3e3;

$text-primary: #6d6e71; // grey
