//
$title-xxl: 9rem;
$title-xl: 7rem;
$title-lg: 5rem;
$title-md: 3.5rem;
$title-sm: 2rem;

$body-md: 1.6rem;
$body-lg: 2rem;
$body-xl: 2.5rem;

$title: "Oxygen", sans-serif;
$body: "Source Sans Pro", sans-serif;
